<ion-content class="nc-content" [fullscreen]="true">
  <div class="nc-header">
    <div class="nc-topbar">
      <button class="back-btn ion-activatable" (click)="goBack()">
        <ion-ripple-effect></ion-ripple-effect><ion-icon name="arrow-back-outline"></ion-icon>
      </button>
      <div><h2 class="nc-title">Nuevo Cliente</h2><p class="nc-sub">Registra los datos del cliente</p></div>
    </div>
  </div>
  <div class="nc-body">
    <div class="form-card">
      <div class="card-head"><ion-icon name="person-outline"></ion-icon> Datos Personales</div>
      <div class="field"><label>NOMBRE COMPLETO *</label>
        <div class="inp-box"><ion-icon name="person-outline"></ion-icon>
          <ion-input type="text" placeholder="Nombre y apellido" [(ngModel)]="nombre" class="fc-inp"></ion-input></div></div>
      <div class="field"><label>CÉDULA / ID *</label>
        <div class="inp-box"><ion-icon name="card-outline"></ion-icon>
          <ion-input type="text" placeholder="001-0000000-0" [(ngModel)]="cedula" class="fc-inp"></ion-input></div></div>
      <div class="field"><label>TELÉFONO *</label>
        <div class="inp-box"><ion-icon name="call-outline"></ion-icon>
          <ion-input type="tel" placeholder="809-000-0000" [(ngModel)]="telefono" class="fc-inp"></ion-input></div></div>
      <div class="field"><label>DIRECCIÓN (Opcional)</label>
        <div class="inp-box"><ion-icon name="location-outline"></ion-icon>
          <ion-input type="text" placeholder="Calle, sector, ciudad" [(ngModel)]="direccion" class="fc-inp"></ion-input></div></div>
    </div>
    <div style="height:90px"></div>
  </div>
</ion-content>
<div class="nc-footer">
  <button class="btn-save ion-activatable" (click)="guardar()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="checkmark-circle-outline"></ion-icon> Guardar Cliente
  </button>
</div>
