<ion-tabs>
  <ion-tab-bar slot="bottom" class="fc-tab-bar">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tareas" href="/tabs/tareas">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="novedades" href="/tabs/novedades">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Novedades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa" href="/tabs/mapa">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
