:root {
  --ion-color-primary: #1a56db;
  --ion-color-primary-rgb: 26,86,219;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #1748c2;
  --ion-color-primary-tint: #3167df;
  --ion-color-secondary: #f59e0b;
  --ion-color-secondary-rgb: 245,158,11;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-shade: #d88a09;
  --ion-color-secondary-tint: #f6a823;
  --ion-color-success: #10b981;
  --ion-color-success-rgb: 16,185,129;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-shade: #0da372;
  --ion-color-success-tint: #28c08e;
  --ion-color-danger: #ef4444;
  --ion-color-danger-rgb: 239,68,68;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-shade: #d23c3c;
  --ion-color-danger-tint: #f15757;
  --ion-color-warning: #f59e0b;
  --ion-color-warning-rgb: 245,158,11;
  --ion-color-warning-contrast: #000000;
  --ion-font-family: 'Nunito', sans-serif;
  --ion-background-color: #f0f4ff;
}
